<!DOCTYPE html>
<html>
  <head>
    <title>Set</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="index.css" rel="stylesheet" />
  </head>
  <body ng-app="app">
    <div ng-controller="GameController">
      <ul class="drawn-cards">
        <li ng-repeat="card in table.drawnCards"
            class="card"
            ng-class="{ selected: isCardSelected(card) }"
            ng-click="cardClicked(card)">
            <svg width="100%" height="100%" viewBox="-15 -15 1080 730" xmlns="http://www.w3.org/2000/svg" svg-content="card.svg">
            </svg>
        </li>
      </ul>

      <div ng-show="invalidSet" class="invalid-set">
        Not a set!
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
    <script src="set.js"></script>
    <script src="ui.js"></script>
  </body>
</html>
